.Popup {
    display: flex;
    flex-flow: row wrap;
    width: 600px; 
}

.Label {
    color: #ff9100;
    flex: 33%;
    font-size: 30px;
    padding: 15px;
    background-color: rgb(68, 66, 63);
    margin: 1px;
    border-radius: 3px;
}

.Label:hover {
    color: rgb(209, 196, 196);
    cursor:pointer;
}


@media (max-width: 780px) {
    .Popup {
        width: 100%;
    }
    .Label{
        font-size: 20px;
        padding: 5px;
        flex: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}