.page{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.01fr 1fr 0.1fr;
  justify-content: center;
  align-items: center; 
}

.graph{
  grid-row: 2/2;
  grid-column: 2/2;
}

@media (max-width: 650px) {
  .page{
     grid-template-columns: 0.2fr 0.4fr 0.2fr;
  }
}

